<%= content_for :sidebar do %>
  <hr/>
  <div class="sidebar-widget">
    <div class="title"><%= t('sidebar.labels') %></div>

    <div class="labels">
      <%= render 'widgets/tag_cloud', {tags: @tags} %>
      <div class="clear"></div>
    </div>
  </div>
  <%= render "shared/follow_code" %>
<% end %>