<div class="row">
  <div class="medium-8 columns logo-title">
    <div class="s-word">S</div>
    <div class="txt">.alex</div>
    <div class="description">the blog about web-development</div>
  </div>
</div>
<hr/>
<%= render 'shared/menu' %>