<div class="logo">
  <div class="logo-title"><div class="s-word">S</div> <div class="txt">.alex</div><div class="description">the blog about web-development</div></div>
  
</div>
<div class="clear"></div>
<hr/>
<%= render 'shared/menu' %>