<div class="navigation-wrapper">
  <div class="nav-bar">
     <ul class="button-group">
       <li><a href="/" class="link"><%= t('menu.home') %></a></li>
       <li><a href="#" class="link"><%= t('menu.about') %></a></li>
       <li><a href="/ru/projects" class="link"><%= t('menu.portfolio') %></a></li>
       <li><a href="#" class="link"><%= t('menu.contacts') %></a></li>
      </ul>
  </div>
</div>